/*Animation*/
.typewriter {
    position: relative;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #fff, #fff, #fff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

/*Style*/

body{
    background-color: #f8cf19;
}

h1{
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.title{
    height: 150px;   
    width: 1000px;
    line-height: 400px;
    margin: 0 auto;
}

#myform{
    grid-row: 1;
    grid-column: 2,3;
    text-align: center;
    margin-left: 50%;
    font-size: 2em;
    font-family: 'Annie Use Your Telescope', cursive;
    color: white;
    align-items: flex-start;
    justify-content: space-between;
    border: solid;
    padding: 1em;
    margin-right:5%;
    margin-bottom: 10%;
}

#myform input{
    padding: 10px 24px;
}

input[type="text"]{
    background-color: #f8cf19;
    border: dashed white;
    font-family: 'Annie Use Your Telescope', cursive;
    color: white;
    font-size: .6em;
    margin-top: .5em;
}

input[type="submit"]{
    margin-top: 1em;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: .7em;
    background-color: #f8cf19;
    color: #fff;
    border-radius: 50px;
    padding: 15px;
    border-color: white;
}

input[type="submit"]:hover {
    font-size: 1em;
}

#display1, #display2{
    color: white;
    font-size: 3em;
}

.invisible { 
    display: none;
}

#madlib{
    border-radius: 50px;
    border: solid white;
    font-family: 'Annie Use Your Telescope', cursive;
    color: white;
    font-size: 2em;
    padding: 15px;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 50%;
    margin-bottom: 2%;
}

#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background: white;
  }







        

