@media only screen and (max-height: 600px), only screen and (max-width: 1250px) {
	body {
		background-color: #6AB8B5;
	}
	.media {
		color: white;
		display: block;
		text-align: center;
		font-size: 2em;
		font-family: 'Carter One';
		padding-top: 100px;
	}
	.home, footer, .outer-wrapper, .outer-wrapper2, .outer-wrapper3, nav {
		display: none;
	}
}

@media (min-height: 600px) and (min-width: 1250px) {
	body {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.media {
		display: none;
	}
	.home {
		margin-top: 5%;
		width: 90%;
		height: 600px;
		text-align: center;
		background-color: rgba(161, 200, 206, 0.8);
	}
	/*home image*/
	#animation_container {
		background-color: transparent;
		position: fixed;
		right: 0;
		top: 0;
	}
	#canvas {
		position: absolute;
		display: block;
		background-color: transparent;
	}
	#dom_overlay_container {
		overflow: hidden;
		position: absolute;
	}
	/*text*/
	h1, h2, h4, #title, form p, nav ul, .popup, #page1_title, #page2_title, .horizontal-arrow:before, .btn, .popup1, #spin_text {
		font-family: 'Carter One';
	}
	h3, p, .test1, .test2, #text, .list, textarea, footer a, #imagecontainer, .box_list ul, .effect li, .popuptext1, .col2 ul {
		font-family: 'Quicksand', sans-serif;
	}
	h3, h4{
		font-size: 1.7em;
	}
	h1, h2{
		text-align: center;
	}
	h4, p{
		text-align: justify;
	}
	h1 {
		color: #ffab3b;
		font-size: 4em;
	}
	h2 {
		color: #046775;
		font-size: 3.5em;
		top: 12%;
	}
	h3 {
		color: white;
	}
	h4{
		color: yellowgreen;
	}
	.home h3 {
		font-size: 1.3em;
		top: 33%;
	}
	h2, .home h3{
		position: fixed;
		left: 12%;
	}
	/*animation*/
	@-webkit-keyframes tracking-in-expand {
		0% {
			letter-spacing: -0.5em;
			opacity: 0;
		}
		40% {
			opacity: 0.6;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes tracking-in-expand {
		0% {
			letter-spacing: -0.5em;
			opacity: 0;
		}
		40% {
			opacity: 0.6;
		}
		100% {
			opacity: 1;
		}
	}
	/*horizontal scrolling*/
	.slide {
		width: 100vw;
		height: 100vh;
	}
	.wrapper {
		display: flex;
		flex-direction: row;
		width: 400vw;
		transform: rotate(90deg) translateY(-100vh);
		transform-origin: top left;
	}
	.one, .two, .three{
		background-repeat: repeat-x;
		width: 400vw;
	}
	.one {
		background: url("images/factory.png");
		background-size: auto 100vh;
	}
	.two {
		background: url("images/ocean.png");
		background-size: auto 100vh;
	}
	.three {
		background: url("images/tree1.png");
		background-size: auto 100vh;
	}
	.outer-wrapper, .outer-wrapper2, .outer-wrapper3 {
		width: 100vh;
		height: 100vw;
		transform: rotate(-90deg) translateX(-100vh);
		transform-origin: top left;
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
		-ms-overflow-style: none;
	}
	.outer-wrapper3 {
		background-color: #015249;
	}
	::-webkit-scrollbar {
		display: none;
	}
	.container {
		margin: 10px auto;
		width: 100%;
	}
	.container>div {
		width: 33%;
	}
	.col1, .col2, .col3{
		display: flex;
		flex-direction: row;
	}
	.col1 {
		float: left;
	}
	.col2 {
		float: right;
		text-align: center;
	}
	.test1, .test2 {
		padding: 10px;
		color: white;
	}
	.test1, .test2{
		margin-left: 90px;
	}
	.test1 {
		font-size: 1.5em;
		margin-top: 50px;
	}
	.test2 {
		font-size: 1.2em;
	}
	a {
		text-decoration: none;
	}
	#one {
		margin-left: 20%;
	}
	#title {
		margin-top: 100px;
		color: white;
		font-size: 3em;
		animation-name: text-pop-up-top;
		animation-duration: 5s;
		animation-iteration-count: infinite;
	}
	#text {
		color: white;
		font-size: 1.8em;
		text-align: center;
	}
	.list {
		border-radius: 50px;
		width: 400px;
		height: 250px;
		font-size: 1.5em;
		color: yellowgreen;
		margin-left: 10%;
	}
	.list li {
		margin: 2%;
	}
	#drag {
		width: 400px;
		height: 200px;
		border: 3px solid yellowgreen;
		border-radius: 50px;
		margin-left: 5%;
		position: sticky;
	}
	#here {
		color: white;
		text-align: center;
	}
	.outer-wrapper .col1 .col1-1 {
		width: 600px;
	}
	.col2-1 {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
	}
	form {
		margin-top: 100px;
		margin-left: auto;
	}
	form p {
		font-size: 1.5em;
		color: yellowgreen;
	}
	textarea {
		background-color: transparent;
		border: solid yellowgreen;
		color: white;
		padding: 10px 24px;
		font-size: 0.8em;
	}
	#text1-2 {
		padding-top: 13%;
		padding-left: 5%;
		font-size: 1.2em;
	}
	#text1-3 {
		position: fixed;
		top: 220px;
		width: 400px;
		font-size: 1.3em;
		text-align: justify;
		padding: 20px;
		background-color: rgba(206, 206, 206, 0.8);
	}
	#text1-4 {
		color: white;
		font-size: 1.6em;
		margin-top: 200px;
		margin-left: 15%;
		padding-top: 3%;
		width: 700px;
	}
	#text2-1, #text2-2, #text2-3{
		color: #FF3B3F;
		background-color: rgba(202, 235, 242, 0.2);
		padding: 10px;
	}
	#text2-1 {
		width: 50%;
		font-size: 1.6em;
		margin-left: 10%;
		margin-top: 5%;
	}
	#text2-2 {
		width: 60%;
		font-size: 1.3em;
		margin-top: 15%;
	}
	#text2-3 {
		font-size: 1.3em;
		margin-top: 15%;
		height: 50px;
	}
	.outer-wrapper3 .col1-2 {
		display: flex;
		flex-direction: row;
		margin-top: 10%;
	}
	#col3-1 {
		margin-top: 100px;
		margin-left: 15%;
		color: white;
		width: 500px;
	}
	.col1-2 h4{
		font-size: 1.3em;
		position: fixed;
		margin-top: 4%;
		margin-left: .5%;
	}
	.col2 h4{
		margin-top: 10%;
		font-size: 2.3em;
	}
	.col2 ul{
		width: 350px;
		font-size: 1em;
		margin-top: 14%;
		color: white;
		list-style: none;
		text-align: justify;
		margin-right: 8%;
	}
	/*sprite animation*/
	@keyframes play {
		100% {
			background-position: -2560px;
		}
	}
	#car {
		width: 256px;
		height: 144px;
		margin-top: 460px;
		background: url('images/Sprite_truck.png') left center;
		animation: play 1.5s steps(10) infinite;
	}
	@keyframes play1 {
		100% {
			background-position: -1200px;
		}
	}
	.box {
		margin-top: 100px;
		width: 240px;
		height: 240px;
		background: url('images/Sprite2_box.png') left center;
		animation: play1 1.5s steps(5) infinite;
	}
	@keyframes play2 {
		100% {
			background-position: -2560px;
		}
	}
	.fourboxes {
		margin-left: 0;
		width: 640px;
		height: 240px;
		background: url('images/Sprite3_box.png') left center;
		animation: play2 3s steps(4) infinite;
	}
	#forest {
		margin-left: 8%;
		width: 640px;
		height: 240px;
		background: url('images/Sprite4_forest.png') left center;
		animation: play2 3s steps(4) infinite;
	}
	@keyframes play3 {
		100% {
			background-position: -1500px;
		}
	}
	.bottle {
		margin-top: 100px;
		width: 150px;
		height: 500px;
		background: url('images/Sprite_bottle.png') left center;
		animation: play3 1.5s steps(10) infinite;
	}
	/*footer*/
	.button {
		margin-left: 75%;
		margin-right: 5%;
		font-size: 12px;
		text-align: center;
		position: sticky;
		position: -webkit-sticky;
	}
	.button a, footer a{
		text-decoration: none;
	}
	footer a {
		font-size: 20px;
		text-align: center;
	}
	footer {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 45px;
		margin-top: .5em;
		color: white;
		padding: 1em;
		background-color: #6AB8B5;
		position: fixed;
	}
	footer:hover {
		height: 100px;
	}
	footer p {
		text-align: center;
	}
	footer a {
		color: white;
	}
	/*nav*/
	nav ul {
		cursor: pointer;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		list-style-type: none;
		margin: 0;
		float: right;
		padding: 1em 0 0 0;
	}
	nav ul li {
		display: inline;
		margin: 10px;
		font-weight: bold;
		font-size: 1em;
		border-radius: 50px;
		padding: 10px;
		background-color: transparent;
		border-width: 2px;
		border-style: solid;
		border-radius: 50px;
		border-color: white;
		text-decoration: none;
		color: white;
		display: inline-block;
	}
	nav ul li a {
		display: inline-block;
		color: white;
	}
	/*loading*/
	.circle {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 80px;
		height: 80px;
		margin-top: 200px;
		position: sticky;
	}
	.circle:after {
		content: " ";
		display: block;
		border-radius: 50%;
		margin: 8px;
		box-sizing: border-box;
		border: 60px solid #25B6B5;
		border-color: #25B6B5 transparent #25B6B5 transparent;
		animation: spin 1s infinite;
	}
	@keyframes spin {
		0% {
			transform: rotate(0);
			animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
		50% {
			transform: rotate(900deg);
			animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		100% {
			transform: rotate(1800deg);
		}
	}
	/*img display*/
	#imagecontainer {
		cursor: pointer;
		color: white;
		margin-top: 100px;
		width: 275px;
		height: 275px;
		border-color: yellowgreen;
		border-style: solid;
		border-radius: 50%;
		margin-left: 20%;
	}
	#imagecontainer p {
		text-align: justify;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 40%;
	}
	#img {
		width: 200px;
		height: 200px;
		position: absolute;
	}
	/*popup*/
	.popup, .popup1 {
		position: relative;
		display: inline-block;
		cursor: pointer;
	}
	.popup {
		font-size: 1.5em;
		color: yellowgreen;
		margin-left: 5%;
		margin-top: 2%;
		background-color: transparent;
		border-style: solid;
		border-radius: 50px;
		border-width: 2px;
		border-color: yellowgreen;
		padding: 10px;
	}
	.popup1 {
		font-size: 1.4em;
		color: white;
		margin-left: 5%;
		margin-top: 30%;
		width: 400px;
	}
	.popup .popuptext, .popup1 .popuptext1{
		visibility: hidden;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 8px 0;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		margin-left: -80px;
	}
	.popup .popuptext {
		width: 160px;
		background-color: green;
		left: 50%;
	}
	.popup1 .popuptext1 {
		width: 400px;
		background-color: #1B8EA5;
		text-align: center;
		left: 0;
	}
	.popup .popuptext::after, .popup1 .popuptext1::after {
		content: "";
		position: absolute;
		top: 100%;
	}
	.popup .show, .popup1 .show  {
		visibility: visible;
		-webkit-animation: fadeIn 1s;
		animation: fadeIn 1s
	}
	@-webkit-keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	/*page1 list*/
	.box_list {
		margin: 0 30%;
		height: 600px;
		padding: 10px 0 40px 60px
	}
	.box_list ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
		transition: all 0.5s linear;
		top: 0;
	}
	.box_list ul:last-of-type {
		top: 60px;
	}
	.box_list ul:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
		border: 1px dashed #fff;
		position: absolute;
		top: 0;
		left: 30px
	}
	.box_list ul li {
		margin: 20px 60px 60px;
		position: relative;
		padding: 10px 20px;
		background: rgba(88, 88, 88, 0.5);
		color: #fff;
		border-radius: 10px;
		line-height: 20px;
		width: 150px;
	}
	.box_list ul li>span {
		content: "";
		display: block;
		width: 0;
		height: 100%;
		border: 1px solid #fff;
		position: absolute;
		top: 0;
		left: -30px;
		font-size: 1em;
	}
	.box_list ul li>span:after {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #585858;
		border: 2px solid #fff;
		position: absolute;
		left: -7.5px
	}
	.box_list ul li>span:before {
		top: -10px
	}
	.box_list ul li>span:after {
		top: 95%
	}
	.box_list .subtitle {
		font-size: 1.8em;
	}
	.box_list .subtitle span {
		position: absolute;
		left: -100px;
		color: #fff;
		font-size: 80%;
		font-weight: bold;
	}
	.box_list .subtitle span:first-child {
		top: -16px;
	}
	.box_list .subtitle span:last-child {
		top: 94%;
	}
	#page1_title {
		margin-top: 100px;
		margin-left: 100px;
		color: white;
		font-size: 2em;
	}
	#page2_title {
		margin-top: 80px;
		margin-left: 100px;
		color: white;
		text-shadow: 3px 2px #FF3B3F;
		font-size: 2.5em;
	}
	/*list animation*/
	@keyframes bounce {
		0% {
			opacity: 0;
			transform: translateY(50px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	* {
		box-sizing: border-box;
	}
	.effect {
		list-style: none;
		padding: 1em 0 0 1em;
		margin-top: 200px;
		margin-left: 3%;
		clear: both;
	}
	.effect li {
		position: relative;
		width: 75%;
		line-height: 2em;
		text-align: center;
		float: left;
		margin: 0 4px 4px 0;
		padding: 0 8px;
		background: rgba(26, 82, 118, 0.8);
		color: white;
		list-style: none;
	}
	.effect li ul {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 4px 0 0 0;
	}
	.effect li ul li {
		width: 100%;
		opacity: 0;
		float: none;
		font-size: 0.8em;
		line-height: 1.8em;
	}
	.effect li:hover {
		background: rgba(46, 134, 193, 0.75);
	}
	.effect li:hover ul {
		display: block;
	}
	.effect li:hover ul li:nth-child(1) {
		animation-delay: 0.04s;
	}
	.effect li:hover ul li:nth-child(2) {
		animation-delay: 0.08s;
	}
	.effect li:hover ul li:nth-child(3) {
		animation-delay: 0.12s;
	}
	.effect li:hover ul li:nth-child(4) {
		animation-delay: 0.16s;
	}
	.effect li:hover ul li:nth-child(5) {
		animation-delay: 0.2s;
	}
	.effect li:hover ul li:nth-child(6) {
		animation-delay: 0.24s;
	}
	.effect li:hover ul li:nth-child(7) {
		animation-delay: 0.28s;
	}
	.effect li:hover ul li:nth-child(8) {
		animation-delay: 0.32s;
	}
	.effect li:hover ul li:nth-child(9) {
		animation-delay: 0.36s;
	}
	.effect li:hover ul li:nth-child(10) {
		animation-delay: 0.4s;
	}
	.effect li.bounce:hover li {
		animation: bounce 0.5s cubic-bezier(0, 1, 0.5, 2) forwards;
	}
	/*arrow*/
	.horizontal-arrow {
		position: fixed;
		width: 40px;
		right: 700px;
		top: 15%;
		padding: 0;
		margin-left: -60px;
		content: "\f087";
		font-size: 18px;
		line-height: 24px;
		letter-spacing: -1px;
		color: white;
		border-radius: 4px;
		border-left: 20px solid white;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		animation: indicate 2s linear infinite;
	}
	.horizontal-arrow:before {
		width: 150px;
		opacity: 1;
		display: block;
		position: absolute;
		text-align: left;
		color: white;
		font-size: 1.2em;
		content: "Scroll Over";
		padding: 0;
		top: -10px;
		right: 0;
	}
	@keyframes indicate {
		0% {
			right: 80%;
		}
		100% {
			right: 75%;
			opacity: 0;
		}
	}
	/*animated buttun*/
	#homebtn {
		position: fixed;
		top: 45%;
		left: 14%;
	}
	.btn {
		border-radius: 4px;
		border: 4px solid white;
		color: white;
		display: inline-block;
		margin: 0 0.25em;
		overflow: hidden;
		padding: 24px 60px 24px 16px;
		position: relative;
		text-decoration: none;
		line-height: 1;
		cursor: pointer;
		animation-name: tracking-in-expand;
		animation-duration: 2s;
	}
	.btn .btn-content {
		font-size: 1.5em;
		line-height: 1.2;
		padding: 0 26px;
		position: relative;
		right: 0;
		transition: right 300ms ease;
		display: block;
		text-align: left;
	}
	.btn .icon {
		border-left: 1px solid white;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		transition: all 300ms ease;
		transform: translateY(-50%);
		width: 58px;
		height: 70%;
	}
	.btn .icon i {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.btn:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		opacity: 0;
		transition: opacity 300ms ease;
		background-color: white;
	}
	.btn:hover .btn-content {
		right: 100%;
	}
	.btn:hover .icon {
		border-left: 0;
		font-size: 1.8em;
		width: 100%;
	}
	.btn:hover:after {
		opacity: 0.2;
	}
	.page_position {
		position: fixed;
		top: 40%;
		right: 100px;
	}
}