  body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.home{
  margin: auto;
  width: 90%;
  height: 600px;
  text-align: center;
  background-color: #A1C8CE;
}
h1{
  color: #ffab3b;
  text-align: center;
  font-size: 4em;
  font-family: 'Carter One';
}
h2{
  padding-top: 20%;
  color: #046775;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Carter One';
}
h3{
  font-family: 'Sen', sans-serif;
  font-size: 1.7em;
  color: white;
  text-align: center;
}
p{
  font-family: 'Sen', sans-serif;
  text-align: justify;
}
/*animation*/
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
      letter-spacing: -0.5em;
      opacity: 0;
 }
  40% {
      opacity: 0.6;
 }
  100% {
      opacity: 1;
 }
}
@keyframes tracking-in-expand {
  0% {
      letter-spacing: -0.5em;
      opacity: 0;
 }
  40% {
      opacity: 0.6;
 }
  100% {
      opacity: 1;
 }
}
#explore{
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  background-color: #3EACBC;
  border-radius: 50px;
  border-style: solid;
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Carter One';
  cursor: pointer;
  animation-name: tracking-in-expand;
  animation-duration: 2.5s;
}
#textt{
  color: #ffab3b;
  text-align: center;
  font-size: 1.7em;
  font-family: 'Carter One';
}
.home img{
  width: 50%;
}
/*horizontal scrolling*/
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.one {
  background: url("images/tree1.png");
  background-size: auto 100vh;
  background-repeat: repeat-x;
  width: 400vw;
}
.two {
  background: url("images/ocean.png");
  background-size: auto 100vh;
  background-repeat: repeat-x;
  width: 400vw;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  -ms-overflow-style: none;
  background-color: #AB987A;
}

.outer-wrapper2 {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  -ms-overflow-style: none;
  background-color: white;
}

.outer-wrapper3 {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  -ms-overflow-style: none;
  background-color: #015249;
}
::-webkit-scrollbar {
  display:none;
}
.container {
  margin: 10px auto;
  width: 100%;
}
.container > div {
  width: 33%;
}
.col1 {
  float: left;
  display: flex;
  flex-direction: row;
}
.col2 {
  float: right;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.col3 {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.test1, .test2{
  color: white;
  font-family: 'Sen', sans-serif;
}
.test1{
  font-size: 1.8em;
  margin-left: 180px;
  margin-top: 200px;
}
.test2{
  margin-left: 180px;
  font-size: 1.5em;
}
a{
  text-decoration: none;
}
#one{
  margin-left: 20%;
}
#title{
  margin-top: 100px;
  color: white;
  font-size: 3em;
  font-family: 'Carter One';
}
#text{
  color: white;
  font-size: 1.8em;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}
.list{
  border-radius: 50px;
  width: 280px;
  height: 250px;
  background-color: rgba(255, 251, 237, 0.8);
  font-size: 1.5em;
  color: #2874A6;
  font-family: 'Dosis', sans-serif;
  margin-left: 10%;
  margin-top: 50px;
}
.list li{
  margin: 5%;
}
#drag {
  width: 400px;
  height: 375px;
  margin-top: 100px;
  border: 3px solid yellowgreen;
  border-radius: 50px;
  margin-left: 20%;
  background-color: white;
}
.col2-1{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
#form{
  margin-top: 100px;
  margin-left: auto;
}
form label{
  font-family: 'Carter One';
  font-size: 1.5em;
  color: #45B39D;
  text-shadow: 2px 2px white;
}
#form input{
  padding: 10px 24px;
}
input[type="text"]{
  background-color: #45B39D;
  border: solid white;
  font-family: 'Quicksand';
  color: white;
  font-size: 1.2em;
  margin-top: .5em;
  height: 100px;
}
input[type="submit"]{
  margin-top: .5em;
  font-family: 'Quicksand';
  font-size: 1em;
  background-color: #45B39D;
  color: #fff;
  border-radius: 50px;
  padding: 15px;
  border-color: white;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #069CA6;
}
#text1-2{
  padding-top: 15%;
  padding-left: 10%;
  font-size: 1.2em;
}
#text1-3{
  padding-top: 15%;
}
#text2-1{
  width: 50%;
  font-size: 1.6em;
  margin-left: 10%;
  margin-top: 10%;
  color:#FF3B3F;
  background-color: rgba(202, 235, 242, 0.2);
  padding: 10px;
}
#text2-2{
  width: 60%;
  font-size: 1.3em;
  margin-top: 15%;
  color:#FF3B3F;
  background-color: rgba(202, 235, 242, 0.2);
  padding: 10px;
}
#text2-3{
  font-size: 1.3em;
  margin-top: 15%;
  color:#FF3B3F;
  background-color: rgba(202, 235, 242, 0.2);
  padding: 10px;
}
/*sprite animation*/
@keyframes play {
  100% {
      background-position: -3800px;
 }
}
#car {
  width: 475px;
  height: 240px;
  margin-top: 200px;
  margin-left: 10%;
  background: url('images/Sprite1_car.png') left center;
  animation: play 1s steps(8) infinite;
}
@keyframes play1 {
  100% {
      background-position: -1200px;
 }
}
.box {
  margin-top: 100px;
  width: 240px;
  height: 240px;
  background: url('images/Sprite2_box.png') left center;
  animation: play1 1.5s steps(5) infinite;
}
@keyframes play2 {
  100% {
      background-position: -2560px;
 }
}
.fourboxes {
  margin-left: 0;
  width: 640px;
  height: 240px;
  background: url('images/Sprite3_box.png') left center;
  animation: play2 3s steps(4) infinite;
}
#forest {
  margin-left: 8%;
  width: 640px;
  height: 240px;
  background: url('images/Sprite4_forest.png') left center;
  animation: play2 3s steps(4) infinite;
}
/*footer*/
.button{
  margin-left: 75%;
  margin-right: 5%;
  font-size: 12px;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
}
.button a{
  text-decoration: none;
  color: white;
}
footer a {
  text-decoration: none;
  font-family: 'Quicksand';
  font-size: 20px;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  margin-top: .5em;
  color: white;
  padding: 1em;
  background-color: #6AB8B5;
  text-align: center;
  position: fixed;
}
footer:hover{
  height: 75px;
}
footer a {
  color: white;
}

/*nav*/

nav ul {
  font-family: 'Dosis', sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  float: right;
  padding: 1em 0 0 0;
}

nav ul li {
  display: inline;
  margin: 10px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 50px;
  background-color: rgba(157, 184, 182, 0.5);
  padding: 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  color: white;
}

/*loading*/
.circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  margin-top: 200px;
  position: sticky;
}
.circle:after {
  content: " ";
  display: block;
  border-radius: 50%;
  margin: 8px;
  box-sizing: border-box;
  border: 60px solid #25B6B5;
  border-color: #25B6B5 transparent #25B6B5 transparent;
  animation: lds-hourglass 1s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/*flip*/
.col1 #col1-1 ul{
  cursor: pointer;
  list-style: none;
  box-shadow:3px 3px 2px rgba(0,0,0,5);
  position:relative;
  justify-content: center;
  width:300px;
  height:300px;
  perspective:300px;
  margin-left: 30%; 
  margin-top: 20%;
  perspective-origin:top center;
  transform-style:preserve-3d;
  animation-name: tracking-in-expand;
  animation-duration: 2s;
}
.col1 #col1-1 ul li{
  font-family: 'Sen', sans-serif;
  font-size: 2em;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#FFF4D3;
  color:#F78733;
  padding:0.5em;box-sizing:border-box;
  transform:rotateX(0);
  transform-origin:center bottom;
  transition:transform 0.3s, height 0.1s;
  transform-style:preserve-3d;
}

.col1 #col1-1 ul li.flipped {
  transform:rotateX(-180deg);
  backface-visibility:hidden;
}

.col1 #col1-1 ul.has-flippage {
  height:300px;
}
.col1 #col1-1 ul.has-flippage li {
  height:100%;
}

/*backface*/
.col1 #col1-1 ul li::after {
  font-size: .8em;
  text-align: center;
  content:"Click to flip back";
  width:100%;
  height:100%;
  display:block;
  background:#E7E7C1; 
  color:white;
  position:absolute;
  top:0;
  left:0;
  transform-origin:center center;
  transform:rotateX(180deg);
  box-shadow:0 2px 4px -3px rgba(0,0,0,0.2);
  backface-visibility:hidden;
}

.col1 #col1-1 ul li:nth-of-type(even) { 
  border-top:medium solid #DFDCE3; 
}
.col1 #col1-1 ul li:nth-of-type(odd) { 
  border-top:medium solid rgb(233, 198, 42); 
}

@keyframes unflip-notice {
  0% {
    transform:rotateX(0);
  }
  50% {
    transform:rotateX(-20deg);
  }
  100% {
    transform:rotateX(0)
  }
}

#click1{
  font-family: 'Sen', sans-serif;
  color: white;
  font-size: 1em;
  margin-left: 65%;
}
/*button*/
#nextBtn{
  color: #ffab3b;
  margin-top: 300px;
  margin-right: 5%;
  font-size: 2em;
  font-family: 'Carter One';
  background-color: transparent;
  border-style: solid;
  border-radius: 50px;
  border-color: #ffab3b;
}
/*img display*/
#imagecontainer {
  width: 500px;
  height: 720px;
  background-color: #e5e7f5
}

#img {
  position: absolute;
}

