
body {
    background-color: #D8E9EB;
}

h1{
    padding: 1%;
    border-radius: 25px;
    text-align: center;
    font-size: 3em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Permanent Marker', cursive;
    color: #29D1E5;
    background-color:#F4D03F;
    text-shadow: 3px 3px white;
}

#topic{
    margin: 0 auto;
    text-align: center;
    font-size: 4.5em;
    color: #FFC300;
    text-shadow: 3px 3px #29D1E5;
    font-family: 'Permanent Marker', cursive;
}

a{
    text-decoration: none;
}

.button{
    margin-left: 80%;
    margin-bottom: 1%;
    font-size: 24px;
    text-align: center;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.content{
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(172, 198, 196, 0.15);
    border-radius: 50px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.text{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    background-color: rgba(241, 196, 15, 0.15);
}

p{
    font-size: 1.5em;
    color: #2980B9;
    font-family: 'Caveat', cursive;
}

.text p{
    padding: 1.7em;
}

#back{
    color: black;
    margin: 0 auto;
    font-family: 'Caveat', cursive;
}

footer {
    margin-top: 3%;
    color: white;
    padding: 1em;
    margin-bottom: 0;
    background-color: #0FA3B1;
    text-align: center;
  }
  
footer a {
    font-size: 18px;
    font-family: 'Caveat', cursive;
    color: white;
}

footer p {
    color: white;
}

/*sketch*/

#sketch{
    max-width: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
}
  
/*comp1*/

#mainimg{
    width: 75%;
    border: 2px dashed #0FA3B1;
    margin-bottom: 2%;
}

.prototype{
    margin: auto;
    width: 75%;
    border: 3px solid #0FA3B1;
    padding: 50px;
    border-radius: 50px;
    margin-bottom: 2%;
}

.prototype1{
    width: 50%;
    border: 3px solid #0FA3B1;
    margin-bottom: 2%;
}

.prototype2{
    width: 31%;
    padding: 5px;
    display: inline;
}

.prototype3{
    width: 31%;
    padding: 5px;
    display: inline;
}

.prototype4{
    width: 31%;
    padding: 5px;
    display: inline;
}

#gif{
    width: 40%;
}

.text1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    background-color: rgba(124, 207, 216, 0.15);
}

.text1 p{
    padding: 1.7em;
    text-align: justify;
}

.paperprototype{
    border-style: dotted;
    border-color: #5B9E04;
    border-radius: 50px;
    width: 90%;
    margin: auto;
}

#paper{
    width: 90%;
}

#paper1{
    margin: auto;
    width: 75%;
    margin-bottom: 2%;
}

.gifcontainer{
    margin-left: 20%;
    margin-right: auto;
}

.gif{
    display: inline-block;
    width: 40%;
}